body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffef5; /* Fondo */
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5em;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 90%;
}

.logo {
    width: 160px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    color: #00b6c1; /* Color para "Reza por nuestro catequizado" */
    font-size: 1.7em;
    margin-bottom: 20px;
}

#nombre-catequizado {
    font-size: 2em;
    color: #052f78; /* Color para el nombre del catequizado */
    padding: 15px;
    background-color: transparent; /* Fondo transparente para el nombre */
    border-radius: 10px;
    word-wrap: break-word;
    max-width: 100%;
}

.frase-acutis {
    font-family: 'League Spartan', sans-serif; /* Usando League Spartan */
    font-size: 0.75em;
    color: #00b6c1; /* Color para la frase de Acutis */
    margin-top: 10px;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 400px) {
    h1 {
        font-size: 1.4em;
        margin-bottom: 15px;
    }
    #nombre-catequizado {
        font-size: 1.6em;
        padding: 10px;
    }
    .logo {
        width: 120px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .frase-acutis {
        font-size: 0.6em;
    }
}

